body {
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
}

.zodiac-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.zodiac img {
    width: 80px;
    cursor: pointer;
    transition: .3s;
}

.zodiac img:hover {
    transform: scale(1.1);
    opacity: .8;
}

.active {
    border: 3px solid yellow;
    border-radius: 10px;
    padding: 5px;
}

.result {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 30px auto;
    backdrop-filter: blur(5px);
}